.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

nb-card {
  width: 450px;
  margin-top: 100px;
}

nb-list {
  margin-top: 30px;
  max-height: 100vh - 40vh;
  overflow-x: hidden;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  button + button {
    margin-left: 5px;
  }

  nb-form-field {
    width: 100%;
    margin-right: 15px;
  }
}

nb-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: 450px;

  p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 300px;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    button + button {
      margin-left: 5px;
    }

    ngx-shimmer-loading + ngx-shimmer-loading {
      margin-left: 5px;
    }
  }
}

.done-todo {
  text-decoration: line-through;
  color: grey;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
